#
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
#

*   jacobus.geluk@agnos.ai
*   jacobus.geluk@ekgf.org
*   marcelo.barbieri@agnos.ai
*   giselle.cole@agnos.ai
